* {
  margin: 0;
  padding: 0;
}

.form {
 position: initial;
}

.h3 {
  text-align: left;
}


.navbar {
  width: 100%;
  list-style-type: none;
  bottom: 10px;
  padding: 0;
  background-color: black;
}


.cards__item {
color: teal;
background-color:white;
text-align: left;
}

.cafes {
  color:black;
  background: white
}
li {
  float: left;
}

li a {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black
}

li a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
  color: red;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.home {
background-image: url('/Home.png');
}

.map {
  overflow:scroll;
}

.map-position {
left: 400px;
top: 100px;
position: fixed;
display: block; 
}

.mapimage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.infowindow {
  word-wrap: break-word;
  background-color: rgb(237, 28, 36);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    text-align: center;
    top: 15px !important;
    width: 150px !important; 
}

.review-card {
  word-wrap: break-word;
  padding: 15px;
  border-style: solid;
  width: 150px;
  height: 200px;
  margin: 5px;
  color: black;
  background-color: white;
}

.review-container {
  display: inline-grid;
  grid-row-start: 3;
  grid-row-end: 3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  left: 30px;
}
.cafes {
  margin-left: 15px;
  text-align: left; 
 }
 
 .cafeimg {
   position: relative;
   border: solid;
   margin: 1px;
   width: 350px; 
   height: 250px
 }
 
 .submit-fav {
  outline: orchid;
  opacity: 1;
  border: solid;
  background-color: red;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fav-card {
  position: relative;
  width: fit-content;
  bottom: 300px;
  margin: 5px;
  text-align: center;
  box-shadow:  0px 4px 8px 10px rgba(0,0,0,0.2);  
}

.fav-img {
  top: 5px;
  left: 5px;
  height: 200px;
  width: 200px;
}

.form-container {
  background-color: grey;
  position: relative;
  left: 400px; 
  bottom: 14000px;
  text-align: left;
  border-style: solid;
  width: 500px;
  height: 350px;
  text-emphasis: bold;
  padding: 50px;
}

.fav-ul {
  background-color: white;
}

.fav-text {
position: absolute;
top: 70px;
left:50px;
font-size: 30px;
text-align: left;
font-weight: bolder;
color: orange;
}

.lpi {
position: absolute;
bottom: 1px;
top: .2px;
height: 100%;
width: 100%;
}

.cup {
  position: fixed;
  width: fit-content;
  height: fit-content;
  opacity: .4;
}

.cup-two {
  position: absolute;
  top: .2px;
  opacity: .5;
}
.cafe-search {
  position: relative;
}

.cafe-search-bar {
  position: relative;
}

.sub-review {
  border: solid;
  background-color:red;
  color: black;
  padding: 8px 10px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login {
  top: 50px;
  border: solid;
  width: 300px;
  position: relative;
  left: 200px;
  text-align: center;
}

.sl-btn {
  margin: 5px;
}

.vindica-icon {
  height: 1px;
}