.form {
 position: initial;
}

.h3 {
  text-align: left;
}

.form-container {
  display: grid;
  background-color: #2196F3;
  padding: 100px;
  margin-top: 700px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.cards__item {
color: teal;
background-color:white;
text-align: left;
}

.cafes {
  color: teal;
  background: white
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.home {
background-image: url('/Home.png');
}

.map {
  overflow:scroll;
}

.map-position {
margin-left: 0;
width: 100px;
  position: fixed;
  display: block;
  z-index: 10;
}

.vindica{
  display: grid; 
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  text-align: center;
  opacity: 1

}
.mapimage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.infowindow {
  background-color: rgb(237, 28, 36);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    text-align: center;
    top: 15px !important;
    width: 150px !important; 
}

.review-card{
  border-style: groove;
  color: black;
  background-color: white;
}