* {
  margin: 0;
  padding: 0;
}

.form {
 position: initial;
}

.h3 {
  text-align: left;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}


.cards__item {
color: teal;
background-color:white;
text-align: left;
}

.cafes {
  color:black;
  background: white
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.home {
background-image: url('/Home.png');
}

.map {
  overflow:scroll;
}

.map-position {
left: 250px;
top: 100px;
position: fixed;
display: block; 
}

.mapimage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.infowindow {
  background-color: rgb(237, 28, 36);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    text-align: center;
    top: 15px !important;
    width: 150px !important; 
}

.review-card {
  padding: 5px;
  border-style: solid;
  width: 200px;
  margin: 5px;
  display: grid;
  color: black;
  background-color: white;
}

.cafes {
  top: 20px;
  display: grid;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);  
 }
 
 .cafeimg {
   position: relative;
   left: 200px;
   margin: 5px;
   width: 350px; 
   height: 250px
 }
 
 .submit-fav {
  border: none;
  background-color: teal;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fav-card {
  position: relative;
  width: fit-content;
  margin: 5px;
  text-align: center;
  box-shadow:  0px 4px 8px 10px rgba(0,0,0,0.2);  
}

.fav-img {
  top: 5px;
  left: 5px;
  height: 200px;
  width: 200px;
}

.form-container {
  position: relative; 
  bottom:900px;
  left: 300px;
  text-align: left;
  border-style: solid;
  width: fit-content;
  padding: 5px
}

.fav-ul {
  background-color: white;
}

.fav-text {
right: 100px;
}

.lpi {
position: absolute;
bottom: 1px;
top: .2px;
height: 500px;
width: 800px;
}

.cafe-search {
  position: relative;
  left: 200px
}

.cafe-search-bar {
  position: relative;
  left: 200px
}

.sub-review {
  border: none;
  background-color: teal;
  color: black;
  padding: 8px 10px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login {
  border: solid;
  width: 300px;
  position: relative;
  left: 200px;
  text-align: center;
}

.sl-btn {
  margin: 5px;
}

